In [1]:
#import pandas as pd
#import zipfile

#hwzip = zipfile.ZipFile("parking-citations.csv.zip", mode='r')
#hwdf = pd.read.csv(zf.open("parking-citations.csv"))
#hwdf.head()

import pandas as pd
import numbpy as np
# Save path to data set in a variable
read_file = "parking-citations.csv"
# Use Pandas to read data
hwdf = pd.read_csv(read_file)
hwdf.head()

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,1103341116,2015-12-21T00:00:00,1251.0,NaN,NaN,CA,200304.0,NaN,HOND,PA,GY,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
1,1103700150,2015-12-21T00:00:00,1435.0,NaN,NaN,CA,201512.0,NaN,GMC,VN,WH,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
2,1104803000,2015-12-21T00:00:00,2055.0,NaN,NaN,CA,201503.0,NaN,NISS,PA,BK,200 WORLD WAY,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4
3,1104820732,2015-12-26T00:00:00,1515.0,NaN,NaN,CA,NaN,NaN,ACUR,PA,WH,100 WORLD WAY,2F11,2.0,000,17104h,NaN,6440041.1,1802686.2
4,1105461453,2015-09-15T00:00:00,115.0,NaN,NaN,CA,200316.0,NaN,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0

In [2]:
new_hwdf = hwdf.drop(columns = ["Ticket number", "Meter Id", "Marked Time", "Plate Expiry Date", "VIN", "Route",
                               "Agency", "Violation code"])
new_hwdf.head()

,Issue Date,Issue time,RP State Plate,Make,Body Style,Color,Location,Violation Description,Fine amount,Latitude,Longitude
0,2015-12-21T00:00:00,1251.0,CA,HOND,PA,GY,13147 WELBY WAY,NO EVIDENCE OF REG,50.0,99999.0,99999.0
1,2015-12-21T00:00:00,1435.0,CA,GMC,VN,WH,525 S MAIN ST,NO EVIDENCE OF REG,50.0,99999.0,99999.0
2,2015-12-21T00:00:00,2055.0,CA,NISS,PA,BK,200 WORLD WAY,WHITE CURB,58.0,6439997.9,1802686.4
3,2015-12-26T00:00:00,1515.0,CA,ACUR,PA,WH,100 WORLD WAY,17104h,NaN,6440041.1,1802686.2
4,2015-09-15T00:00:00,115.0,CA,CHEV,PA,BK,GEORGIA ST/OLYMPIC,NO STOPPING/STANDING,93.0,99999.0,99999.0

In [3]:
new_hwdf.dtypes

Issue Date                object
Issue time               float64
RP State Plate            object
Make                      object
Body Style                object
Color                     object
Location                  object
Violation Description     object
Fine amount              float64
Latitude                 float64
Longitude                float64
dtype: object

In [4]:
#renaming column for issue date
renamed_hwdf = new_hwdf.rename(columns={"Issue Date":"Original Issue Date"})
renamed_hwdf.head()

,Original Issue Date,Issue time,RP State Plate,Make,Body Style,Color,Location,Violation Description,Fine amount,Latitude,Longitude
0,2015-12-21T00:00:00,1251.0,CA,HOND,PA,GY,13147 WELBY WAY,NO EVIDENCE OF REG,50.0,99999.0,99999.0
1,2015-12-21T00:00:00,1435.0,CA,GMC,VN,WH,525 S MAIN ST,NO EVIDENCE OF REG,50.0,99999.0,99999.0
2,2015-12-21T00:00:00,2055.0,CA,NISS,PA,BK,200 WORLD WAY,WHITE CURB,58.0,6439997.9,1802686.4
3,2015-12-26T00:00:00,1515.0,CA,ACUR,PA,WH,100 WORLD WAY,17104h,NaN,6440041.1,1802686.2
4,2015-09-15T00:00:00,115.0,CA,CHEV,PA,BK,GEORGIA ST/OLYMPIC,NO STOPPING/STANDING,93.0,99999.0,99999.0

In [6]:
#string split function to remove time stamp from Date
updt_hwdf = renamed_hwdf["Original Issue Date"].str.split("T").str[0]
updt_hwdf.head()

0    2015-12-21
1    2015-12-21
2    2015-12-21
3    2015-12-26
4    2015-09-15
Name: Original Issue Date, dtype: object

In [12]:
#setting up dataframe new date column for re-insertion back into final dataframe
getting_there_hwdf = pd.DataFrame(updt_hwdf)
getting_there_hwdf.head()

  Original Issue Date
0          2015-12-21
1          2015-12-21
2          2015-12-21
3          2015-12-26
4          2015-09-15

In [13]:
almost_there_hwdf = getting_there_hwdf.rename(columns={"Original Issue Date":"Issue Date"})
almost_there_hwdf.head()

   Issue Date
0  2015-12-21
1  2015-12-21
2  2015-12-21
3  2015-12-26
4  2015-09-15

In [26]:
#trying to add a column and add a count ID (random ID) to use for future merge -> seems a bit much
#to go through to clean up data
sLength = len(renamed_hwdf['Issue time'])
almost_there_hwdf["Random ID"] = pd.Series([0])
almost_there_hwdf.head()

   Issue Date  Random ID
0  2015-12-21        0.0
1  2015-12-21        NaN
2  2015-12-21        NaN
3  2015-12-26        NaN
4  2015-09-15        NaN

In [21]:
#trying add function to get new Issue date into updated hwdf - basically get the clean date in the dataframe
alst_final_hwdf = renamed_hwdf.add(almost_there_hwdf, fill_value=0)
alst_final_hwdf

TypeError: can only concatenate str (not "float") to str

In [18]:
#attempting to use insert to jam new Issue Date 
#alm_final_hwdf = renamed_hwdf.insert(0, "Clean Issue Date", almost_there_hwdf)
#alm_final_hwdf.head()

ValueError: cannot insert Clean Issue Date, already exists

In [19]:
#using join to add edited Issue Date column back into final data frame
#final_hwdf = renamed_hwdf.join(almost_there_hwdf)
#final_hwdf.head()

ValueError: columns overlap but no suffix specified: Index(['Issue Date'], dtype='object')